.env
node_modules/
dist/
tarjetas_trello_sprint_1.md
Prototipo_V1.1.pdf
Propuesta Técnica TFI.pdf
Presentacion-Proyecto-Final-Integrador.pdf
planificacion_mvp_civitas_30-11.md
Condiciones Generales - Proyecto Final.pdf